<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="EndPointUrl" value="https://performance-tune-kata.documents.azure.com:443/" />
    <add key="AuthorizationKey" value="glb4pZl4x3hyqxQLnkY1jrGZnuXrhpnOGSLDraCNf5VKFntH6tBn6l8KP5n6lUh5r0AZOls4WaimXr7Kb4ilkg==" />
    <add key="DatabaseName" value="WishLists" />
    <add key="CollectionName" value="WishList" />
  </appSettings>
</configuration>